#slot-machine {
    border-radius: 5px;
    background-color: rgb(123, 251, 161);
    margin-top: 30px;
    padding: 20px;
    width: 500px;
    margin: auto;
    text-align: center;
}

h2#titolo {
    color: black;
    font-size: 26px;
    text-align: center;
    padding: 10px;
}

section.slots {
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #FAFAFA;
    padding: 20px;
}

#button-slot {
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(163, 1, 163);
    border: 1px solid rgb(255, 169, 255);
    border-radius: 10px;
    cursor: pointer;
}

.icons {
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

#button-slot:hover {
    background-color: rgb(0, 98, 255);
}

div#risultato {
    width: 300px;
    margin: 10px auto;
    border: 1px solid #74c3fb;
    border-radius: 15px;
    background-color: #74c3fb;
    padding: 10px;
}